h2 {
  color: #424242;
  font: 24px Arial,sans-serif;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .caption {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border: 1px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover {
  visibility: visible;
}