<<<<<<< HEAD
  .modal {
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    color: #ccc;
  }

  .btn {
    margin-top: -1px;
    display: inline-block;
    cursor: pointer;
  }
  
  /* AD
  -------------------------------------------------- */
  .ad-banner {
    width: 100%;
    height: 65px;
    background-color: black;  
  }
  
  .ad {
    background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/Amazon_Ad.png);
    background-repeat: no-repeat;
    z-index: 500;
    display: block;
    position: relative;
    width: 320px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    top: 4px;
  }
  
  /* TOP BANNER
  -------------------------------------------------- */
  .gallery-header {
    background-color: rgba(20, 20, 20, 0.85);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 15%;
    text-align: center;
    top: auto;
    height: 46px;
  }
  
  .disappearing-banners {
    opacity: 0;
    transition: opacity 1s ease-out 4s;
    will-change: opacity;
    z-index: 600;
  }
  
  .disappearing-banners:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }
  
  .gallery-link {
    height: 25px;
  }
  
  .grid-btn {
    position: relative;
    display: inline-block;
    z-index: 300;
    height: 25px;
    width: 25px;
    border: 0;
    outline: 0;
    left: -14px;
    background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/grid_black.png);
  }
  
  .gallery-title {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: rgb(204,204,204);
    z-index: 200;
    top: -8px;
    left: -10px;
    text-decoration: none;
  }
  
  .close {
    position: absolute;
    display: inline-block;
    z-index: 250;
    height: 25px;
    width: 25px;
    right: 10px;
    border: 0;
    outline: 0;
    background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/closeX.png);
  }
  
  /* CAROUSEL
  -------------------------------------------------- */
  .gallery-object {
    position: absolute;
    display: block;
    top: 10%;
    left: 33%;
    z-index: auto;
    width: auto;
    height: 800px;  
  }

  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
  }
  
  /* ARROW BUTTONS
  -------------------------------------------------- */
  .arrow-btn {
    position: fixed;
    top: 45%;
    display: block;
    height: 100px;
    width: 70px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    margin: -75px 0 0;
  }

  .disappearing-btn {
    opacity: 0;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1) 2.5s;
    will-change: opacity;
  }
  
  .disappearing-btn:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }
  
  .left {
    left: 0px;
    float: left;
    z-index: 400;
  }
  
  .left::before {
    content: url(https://imdbpics.s3.us-east-2.amazonaws.com/arrowL.png);
    left: 11px;
    z-index: 401;
    position: absolute;
  }
  
  .right {
    right: 0px;
    float: right;
    z-index: 350;
  }
  
  .right::before {
    content: url(https://imdbpics.s3.us-east-2.amazonaws.com/arrowR.png);
    right: 11px;
    z-index: 351;
    position: absolute;
  }
  
  /* BOTTOM BANNER
  -------------------------------------------------- */
  .gallery-footer {
    border-top: 1px solid rgba(255,255,255,0.2);
    max-height: 30%;
    padding: 15px 15%;
    background: rgba(20,20,20,0.85);
    font-size: 14px;
    position: fixed;
    bottom: 0;
    display: block;
    height: 153px;
    width: 100%;
  }
  
  .top-row {
    height: 24;
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-info {
    margin: auto;
    max-width: 640px;
  }
  
  .image-count {
    display: inline-block;
    flex-grow: 1;
    font-size: 16.1px;
  }
  
  .btn-links {
    display: block;
    width: 173.78px;
    float: right;
  }
  
  .link-btn {
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
    display: inline-block;
    font-size: 11.9px;
    margin-left: 10px;
    padding: 5px 7px;
    height: 24px;
    color: #ccc;
  }
  
  p.image-links {
    margin-block-start: 14px;
    margin-block-end: 14px;
    margin: 14px 0;
  }
  
  .image-links a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(99, 201, 255);
    line-height: 17px;
  }
  
  .gallery-footer a:hover {
    text-decoration: underline;
  }
  
  .metadata {
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 11.9px;
    padding-top: 10px;
    line-height: 14px;
  }
  
  strong {
    font-weight: bold;
  }
  
  .metadata a {
    font-size: 11.9px;
    color: rgb(99, 201, 255);
    text-decoration: none;
  }
=======
.modal {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  color: #ccc;
}

.ad-banner {
  width: 100%;
  height: 65px;
  background-color: black;  
}

.ad {
  background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/Amazon_Ad.png);
  background-repeat: no-repeat;
  z-index: 500;
  display: block;
  position: relative;
  width: 320px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 4px;
}

.gallery-header {
  background-color: rgba(20, 20, 20, 0.85);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 10px 15%;
  text-align: center;
  top: auto;
  height: 46px;
}

.gallery-link {
  height: 25px;
}

.grid-btn {
  position: relative;
  display: inline-block;
  z-index: 300;
  height: 25px;
  width: 25px;
  border: 0;
  outline: 0;
  left: -14px;
  background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/grid_black.png);
}

.gallery-title {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: rgb(204,204,204);
  z-index: 200;
  top: -8px;
  left: -10px;
  text-decoration: none;
}

.close {
  position: absolute;
  display: inline-block;
  z-index: 250;
  height: 25px;
  width: 25px;
  right: 10px;
  border: 0;
  outline: 0;
  background-image: url(https://imdbpics.s3.us-east-2.amazonaws.com/closeX.png);
}

.gallery-object {
  position: relative;
  display: block;
  top: 30px;
  z-index: 150;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 400px; 
}

.arrow-btn {
  position: fixed;
  top: 50%;
  display: block;
  height: 100px;
  width: 70px;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  will-change: opacity;
  margin: -50px 0 0;
}

.arrow-btn:hover {
  opacity: 1;
}

.left {
  left: 0px;
  float: left;
  z-index: 400;
}

.left::before {
  content: url(https://imdbpics.s3.us-east-2.amazonaws.com/arrowL.png);
  left: 11px;
  z-index: 401;
  position: absolute;
}

.right {
  right: 0px;
  float: right;
  z-index: 350;
}

.right::before {
  content: url(https://imdbpics.s3.us-east-2.amazonaws.com/arrowR.png);
  right: 11px;
  z-index: 351;
  position: absolute;
}

.gallery-footer {
  border-top: 1px solid rgba(255,255,255,0.2);
  max-height: 30%;
  padding: 15px 15%;
  background: rgba(20,20,20,0.85);
  font-size: 14px;
  position: fixed;
  z-index: 600;
  bottom: 0;
  display: block;
  height: 153px;
  width: 100%;
}

.top-row {
  height: 24;
  display: flex;
  flex-wrap: wrap;
}

.image-info {
  margin: auto;
  max-width: 640px;
}

.image-count {
  display: inline-block;
  flex-grow: 1;
  font-size: 16.1px;
}

.btn-links {
  display: block;
  width: 173.78px;
  float: right;
}

.link-btn {
  text-decoration: none;
  border: 1px solid;
  border-radius: 8px;
  display: inline-block;
  font-size: 11.9px;
  margin-left: 10px;
  padding: 5px 7px;
  height: 24px;
  color: #ccc;
}

p.image-links {
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin: 14px 0;
}

.image-links a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(99, 201, 255);
  line-height: 17px;
}

.gallery-footer a:hover {
  text-decoration: underline;
}

.metadata {
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 11.9px;
  padding-top: 10px;
  line-height: 14px;
}

strong {
  font-weight: bold;
}

.metadata a {
  font-size: 11.9px;
  color: rgb(99, 201, 255);
  text-decoration: none;
}
>>>>>>> master
